fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
chromadb
langchain-chroma
pypdf
python-dotenv
tqdm
ollama
sentence-transformers
pydantic
transformers
openai
PyMuPDF
python-multipart
rich